.hero {
  padding: 72px 0;
  background-color: var(--navy-blue);
  background-image: linear-gradient(to bottom, var(--grey), var(--grey)), url("../images/hero-img.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 0 auto;
}

@media (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(to bottom, var(--grey), var(--grey)), url("../images/hero-img@2x.jpg");
  }
}

.hero-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--white);
  max-width: 216px;
  margin-bottom: 72px;
}

@media (min-width: 768px) {
  .hero {
    padding: 112px 0;
  }

  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    margin-bottom: 36px;
  }
}

@media (min-width: 1158px) {
  .hero {
    padding: 188px 0;
    max-width: 1440px;
  }

  .hero-title {
    margin-bottom: 48px;
  }
}
