.hero {
  padding: 72px 0;
  background-color: var(--navy-blue);
  background-image: linear-gradient(to bottom, var(--grey), var(--grey)), url("../images/hero/hero-mob.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 0 auto;
  max-width: 320px;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to bottom, var(--grey), var(--grey)), url("../images/hero/hero-mob@2x.jpg");
  }
}

@media (min-width: 768px) {
  .hero {
    background-image: linear-gradient(to bottom, var(--grey), var(--grey)), url("../images/hero/hero-tablet.jpg");
  }
}

@media (min-width: 768px) and (min-device-pixel-ratio: 2),
  (min-width: 768px) and (min-resolution: 192dpi),
  (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to bottom, var(--grey), var(--grey)), url("../images/hero/hero-tablet@2x.jpg");
  }
}

@media (min-width: 1158px) {
  .hero {
    background-image: linear-gradient(to bottom, var(--grey), var(--grey)), url("../images/hero/hero-img.jpg");
  }
}

@media (min-width: 1158px) and (min-device-pixel-ratio: 2),
  (min-width: 1158px) and (min-resolution: 192dpi),
  (min-width: 1158px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to bottom, var(--grey), var(--grey)), url("../images/hero/hero-img@2x.jpg");
  }
}

.hero-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--white);
  max-width: 216px;
  margin: 0 auto 72px;
}

@media (min-width: 768px) {
  .hero {
    padding: 112px 0;
    max-width: 768px;
  }

  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    margin: 0 auto 36px;
  }
}

@media (min-width: 1158px) {
  .hero {
    padding: 188px 0;
    max-width: 1440px;
  }

  .hero-title {
    margin: 0 auto 48px;
  }
}
